@using ELearnApplication.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Service Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.Label("Service Name")
        </th>
        <th>Links</th>
        <th>
            @Html.Label("Active")
        </th>
    </tr>
         
    @foreach (var item in Model.Services)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @Html.ActionLink("Go to course", "CourseDetail", new { Serviceid = @item.ServiceId })
                @*@Html.ActionLink("Go to course", "CourseDetail")*@
            </td>
            <td>
                @*    @item.ServiceStatus    *@
                Yes
            </td>
            <td>
                @Html.ActionLink("Edit", "EditService", new { id = @item.ServiceId })
                @*@Html.ActionLink("Details", "Details", new { id=item.CourseId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.CourseId })*@
            </td>
        </tr>
    }

</table>



@{
    /**/

    ViewBag.Title = "Index";
}

<h2>User Details</h2>


<p>

    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Sort By
        </button>
        <div class="dropdown-menu">
            <ul>
                <li>
                    @Html.ActionLink("Name", "SortByName")
                </li>
                <li>
                    @Html.ActionLink("Age", "SortByAge")
                </li>
            </ul>

        </div>
    </div>



    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Filter By
        </button>
        <div class="dropdown-menu">
            <ul>
                <li>
                    @Html.ActionLink("Subscriber", "AllSubscriber")
                </li>
                <li>
                    @Html.ActionLink("Vendor", "AllVendor")
                </li>
            </ul>

        </div>
    </div>

</p>

<p>

    @using (Html.BeginForm("Search", "Admin", FormMethod.Get))
    {
        <table id="search-table">
            <tr>
                <td>
                    @Html.TextBox("searching", null, new { @class = "form-control", @placeholder = "Search" })
                </td>
                <td>
                    <input type="submit" value="Search" name="submit" class="btn btn-default" id="submit" />
                </td>
            </tr>
        </table>
    }
</p>

@using (Html.BeginForm("EditUser", "Admin"))
{


    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Age")
            </th>
            <th>
                @Html.DisplayName("Gender")
            </th>
            <th>
                @Html.DisplayName("Role")
            </th>
            <th>
                @Html.DisplayName("Active")
            </th>
            <th>
                @Html.DisplayName("Address line 1")
            </th>
            <th>
                @Html.DisplayName("Address Line 2")
            </th>
            <th>
                @Html.DisplayName("City")
            </th>
            <th>
                @Html.DisplayName("State")
            </th>
            <th>
                @Html.DisplayName("Country")
            </th>
            <th>
                @Html.DisplayName("Pin Code")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.UserDetails)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Age
                </td>
                <td>
                    @item.Gender
                </td>

                @*<td>
                        @Html.HiddenFor(modelItem => item.Id)
                    </td>*@
                <td>
                    @*@Html.DisplayFor(modelItem => item.UserRole)*@
                    @*          @item.UserRole                 *@
                    @item.RoleName
                    @*<div class="form-group">

                            @Html.EnumDropDownListFor(modelItem => item.UserRole, htmlAttributes: new { @class = "form-control" })


                        </div>*@
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.User)*@
                    @item.UserStatus
                    @*<div class="form-group">

                            @Html.EnumDropDownListFor(modelItem => item.UserStatus, htmlAttributes: new { @class = "form-control" })


                        </div>*@
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.AddressLine1)*@
                    @item.AddressLine1
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.AddressLine2)*@
                    @item.AddressLine2
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.City)*@
                    @item.City
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.State)*@
                    @item.State
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Country)*@
                    @item.Country
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.PinCode)*@
                    @item.PinCode
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditUser", new { EmailId = @item.EmailId },null)
                    @*  @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@



                </td>

            </tr>
        }

    </table>


    @*@Html.Partial("_Courses", allCourses)*@


    @*<div class="form-group">

            <input type="submit" value="Save" class="btn btn-default" />

        </div>*@
}


<style>
    #submit {
        background-color: aqua;
    }

    #search-table {
        margin-left: auto;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        /*background-color:chartreuse;*/
    }

    li {
        font-weight: bold;
        display: block;
        color: blue;
        /*padding: 8px 16px;*/
        text-decoration: none;
    }

    .dropdown {
        display: inline;
    }
</style>
